.weather-app {
  background-color: #e7eaf6;
  padding: 50px 30px;
  margin: 50px auto;
  max-width: 700px;
  text-align: center;
  border: 3px solid #00204a;
  border-radius: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.city-zip {
  border-radius: 30px;
  margin: 0 0 30px;
  text-align: center;
}

.button {
  background-color: transparent;
  border: none;
  color: #393e46;
  transition: all 200ms ease-in-out;
  border-radius: 100%;
}

.button:hover {
  background-color: #3bb4c1;
}

h1,
h2 {
  color: #393e46;
  text-align: center;
  font-weight: bold;
}

h1 {
  color: #3bb4c1;
}

.units {
  font-size: 15px;
  vertical-align: text-top;
  text-decoration: none;
  color: #696464;
}

.iconTemp {
  max-width: 400px;
  float: inline-end;
}

.weather-temperature a {
  color: #696464;
  text-decoration: none;
  cursor: default;
}

.weather-temperature .active {
  color: #3bb4c1;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

#description {
  font-weight: bold;
  font-size: 23px;
  font-style: italic;
  color: #696464;
  text-align: center;
}

.weather-forecast-date {
  color: #3bb4c1;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  opacity: 0.6;
  margin: 20px 10px 10px;
}

.weather-forecast-temperature {
  color: #5c636e;
  font-size: 16px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  list-style: none;
}

#author {
  text-align: center;
  margin: 0;
}
